*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

.modelaje{
    background-image: url(../img/nubes.jpg);
    background-size: cover;
}


.controls{
    background-color:var(--light);
    position:fixed;
    padding:100px 10px;
    right:-150%;
    top:0px;
    transition:0.5 ease;
    bottom:0px;
    z-index:250 !important;
    display:block;
}

.rotateDrawer{
    padding:10px;
    display:flex;
}

.rotateDrawer label{
    margin:auto 0px;
    padding:0px 10px;
}

.options{
    transition:0.5s ease;
    position:fixed;
    display:flex;
    top:5vh;
    gap:10px;
    z-index:200;
}

.exit{
    position:absolute;
    box-shadow:3px 3px 10px grey;
    cursor: pointer;
    background-color:#ffff;
    padding:10px;
    border-radius:10px;
    top:10px;
    left:10px;
}

.tool{
    background-color:#ffff;
    border-radius:10px;
    margin:auto 0px;
    padding:10px;
    cursor:pointer;
}

.bottons{
    position:relative;
    display:flex;
    justify-content:center;
    gap:5px;
    z-index:100;
}

.objeto{
    /* background-color:red; */
    width:100vh;
    height:100vh;
    display:grid;
    position: relative;
    color:white;
    transform: scale(0.75);
    transition: scale 0.5s ease;
}

.objetoCajon{
    width:var(--SizeDrawerWidth);
    height:var(--SizeDrawerHeight);
    margin:auto;
    transform-style: preserve-3d;
    transform: rotateY(var(--x)) rotateX(var(--y));
    transition:transform 0.5s ease;
}

.cara{
    position: absolute;
    background-image: url("../img/maderaTexture.jpg");
    background-size: cover;
    border:5px solid #080808;
}

.caraDelantera{
    width:var(--SizeDrawerWidth);
    height:var(--SizeDrawerHeight);
    /* background-color:var(--colorDrawerGrey); */
    /* filter:brightness(1); */
    transform: translateZ(calc(var(--SizeVolume) / 2)) ;
    display:grid;
    /* grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr; */
    z-index:5;
    transform-style: preserve-3d;
}

.caraTrasera{
    width:var(--SizeDrawerWidth);
    height:var(--SizeDrawerHeight);
    /* background-color: var(--colorDrawerDark); */
    transform: translateZ(calc(var(--SizeVolume) / -2)) rotateY(180deg);
}

.caraIzquierda{
    /* background-color:lightseagreen; */
    width: var(--SizeVolume);
    height: var(--SizeDrawerHeight);
    filter: var(--filterLeft);
    /* background-color: var(--colorDrawerDark); */
    transform: translateX(calc(var(--SizeDrawerWidth) - ( var(--SizeVolume) / 2))) rotateY(90deg);
}

.caraDerecha{
    /* background-color:lightgreen; */
    width:var(--SizeVolume);
    height:var(--SizeDrawerHeight);
    filter:var(--filterRight);
    /* background-color: var(--colorDrawerDark); */
    transform: translateX(calc(var(--SizeVolume) / -2)) rotateY(-90deg);
}

.caraSuperior{
    /* background-color:lightcoral; */
    width:var(--SizeDrawerWidth);
    height:var(--SizeVolume);
    /* background-color: var(--colorDrawerLight); */
    transform: rotateX(90deg) translateZ(calc(var(--SizeVolume) / 2));
}

.caraInferior{
    width:var(--SizeDrawerWidth);
    height:var(--SizeVolume);
    /* background-color: var(--colorDrawerLight); */
    transform: translateY(calc(var(--SizeDrawerHeight) - (var(--SizeVolume) / 2))) rotateX(90deg);
}
/* CAJAONES ------- */
:root{
    --width:260px;
    --height:100px;
    --filterRight:brightness(0.5);
    --filterLeft:brightness(1.8);
    --light:#f8f8ff;
}

/* Div genereal para todas las caras */
.cajonCara{
    width:var(--width);
    height:var(--height);
    background-color:transparent;
    /* border:5px solid #3d1d03; */
    background-image: url(../img/maderaTexture.jpg);
    /* background-image: url(../img/maderaBlancaTexture.jpg); */
    background-size:cover;
}

.cajonFila{
    cursor: pointer;
    /* border:5px solid #3d1d03; */
    background-color:transparent;
    position: relative;
    text-align:center;
    z-index:105;
    display:grid;
    margin:20px;
    transform: translateZ(0px);
    transition: transform 0.5s ease;
    transform-style:preserve-3d;
}

/* Movilidad de cajon completo para hover */
.cajonFila:hover{
    transform: translateZ(80px);
}

/* .cajonFila:hover{
    background-color: #5071d4;
    box-shadow:-2px 2px 1px lime,
     2px -2px 1px lime, 
     2px 2px 1px lime,
     -2px -2px 1px lime;
} */

.cajonCara:hover{
    background-color: #5071d4;
    box-shadow:-2px 2px 1px #ffff,
     2px -2px 1px #ffff, 
     2px 2px 1px #ffff,
     -2px -2px 1px #ffff;
}

.cajonObjeto{
    width:var(--width);
    height:var(--height);
    position:relative;
    background-color:transparent;
    transform-style:preserve-3d;
}

.cajaDelantera{
    background-color:var(--colorDrawerDark);
    position: absolute;
    transform: translateZ(calc(var(--SizeVolume) / 2));
}

.cajaTrasera{
    background-color:yellowgreen;
    position:absolute;
    transform: rotateY(-180deg) translateZ(calc(var(--SizeVolume) / 2));
}

/* EDITANDO ---------------------------------------------------------- */

:root{
    --x:10deg;
    --y:0deg;
    --colorDrawerDark:#272727;
    --colorDrawerLight:#777777;
    --colorDrawerGrey:#443f3f;

    --SizeDrawerHeight:500px; 
    --SizeDrawerWidth:300px;
    --SizeVolume:180px;

    --rows:3;
    --columns:1;
}

 .cajaIzquierda{
    width:var(--SizeVolume);
    background-color:skyblue;
    filter:var(--filterLeft);

    position:absolute;
    transform: rotateY(90deg) translateZ(calc((var(--SizeVolume)/2) + (var(--width) - var(--SizeVolume))));
}

.cajaDerecha{
    width:var(--SizeVolume);
    background-color:palevioletred;
    position:absolute;
    filter: var(--filterRight);
    transform: rotateY(-90deg) translateZ(calc(var(--SizeVolume) / 2));
}
/* 
    --width:260px;
    --height:100px;
    --SizeVolume:180px;
*/
.cajaInferior{
    background-color: darkorange;
    position:absolute;
    /* rotate3d(x, y, z, a) */
    width:var(--width);  /* 100 */
    height:var(--SizeVolume); /* 180 */

    transform:rotateX(90deg) translateZ(calc(
        var(--height) / 2 - var(--SizeVolume)
        ));
        display:none;
}

.plane{
    position:fixed;
    background-color: #333333;
    /* width:calc(2 * var(--SizeDrawerWidth));
    height: calc(2 * var(--SizeDrawerHeight)); */
    /* transform:rotateX(50deg); */
    /* translateX(calc( var(--SizeDrawerWidth) * -2)); */
    transform-style: preserve-3d;
    width:calc(var(--SizeDrawerWidth) * 3);
    height:calc(var(--SizeDrawerHeight) * 3);
    display:none;
    padding:10px;
}

.plane .pared{
    position:absolute;
    background-color:red;
    width:100%;
    height:100%;
    transform: rotateZ(90deg); 
    /*translateZ(var(--SizeDrawerWidth))
    translateY(var(--SizeDrawerHeight)) */
    /* transform: rotateY(90deg) rotateX(-90deg) translateZ(calc(-1.1 * var(--SizeDrawer))) translateX(0px) translateY(calc(-1 * var(--SizeDrawer))); */
}



